<section class="pt-3 align-items-center text-center" id="about">
  <h2 class="section-title text-white scroll-reveal">About Me</h2>

  <div class="container">
    <div class="row align-items-center">

      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <p class="text-white fs-5 text-center text-md-start p-3 scroll-reveal">
          I'm Ahmed Elsayed Ragab Abdulsalam, a passionate Frontend Angular
          Developer with a keen eye for detail and a strong commitment to
          delivering exceptional user experiences.
        </p>
        <p class="text-white fs-5 text-center text-md-start p-3 scroll-reveal">
          With expertise in modern web technologies, I turn complex ideas into
          elegant, high-performing web applications.
        </p>
        <p class="text-white fs-5 text-center text-md-start p-3 scroll-reveal">
          My approach blends technical precision with creative problem-solving,
          ensuring every project not only meets but exceeds expectations.
        </p>
      </div>

      <div class="col-12 col-md-6">
        <div class="card w-100 mb-3 scroll-reveal">
          <div class="card-body">
            <h5 class="card-title">
              Clean Code <i class="fa-solid fa-code text-primary"></i>
            </h5>
            <p class="card-text">
              Writing maintainable, scalable code that follows best practices.
            </p>
          </div>
        </div>
        <div class="card w-100 mb-3 scroll-reveal">
          <div class="card-body">
            <h5 class="card-title">
              Innovation <i class="fa-regular fa-lightbulb text-primary"></i>
            </h5>
            <p class="card-text">
              Staying ahead with the latest technologies and creative solutions.
            </p>
          </div>
        </div>
        <div class="card w-100 mb-3 scroll-reveal">
          <div class="card-body">
            <h5 class="card-title">
              Performance <i class="fa-solid fa-rocket text-primary"></i>
            </h5>
            <p class="card-text">
              Optimizing applications for speed and user experience.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
