<section id="skills" class="py-5  text-white text-center">
  <div class="container">
    <h2 class="section-title text-white mb-5">Skills & Expertise</h2>

    <div class="row">
  
      <div class="col-lg-6 mb-5">
        <h4 class="text-white mb-4">Frontend Development</h4>

        <div class="text-start mb-3">
          <h6><i class="fa-brands fa-angular text-danger me-2"></i>Angular</h6>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar bg-primary" style="width: 90%;"></div>
          </div>
        </div>

        <div class="text-start mb-3">
          <h6><i class="fa-brands fa-js text-warning me-2"></i>JavaScript</h6>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar bg-primary" style="width: 85%;"></div>
          </div>
        </div>

        <div class="text-start mb-3">
          <h6><i class="fa-solid fa-code text-info me-2"></i>TypeScript</h6>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar bg-primary" style="width: 85%;"></div>
          </div>
        </div>

        <div class="text-start mb-3">
          <h6><i class="fa-brands fa-html5 text-danger me-2"></i>HTML / CSS</h6>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar bg-primary" style="width: 95%;"></div>
          </div>
        </div>

        <div class="text-start mb-3">
          <h6><i class="fa-brands fa-bootstrap text-primary me-2"></i>Bootstrap</h6>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar bg-primary" style="width: 90%;"></div>
          </div>
        </div>
      </div>

      <!-- Tools & Software -->
      <div class="col-lg-6">
        <h4 class="text-white mb-4 ">Tools & Software</h4>

        <div class="text-start mb-3">
          <h6><i class="fa-brands fa-git-alt text-warning me-2"></i>Git</h6>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar bg-primary" style="width: 80%;"></div>
          </div>
        </div>

        <div class="text-start mb-3">
          <h6><i class="fa-brands fa-github text-light me-2"></i>GitHub</h6>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar bg-primary" style="width: 85%;"></div>
          </div>
        </div>

        <div class="text-start mb-3">
          <h6><i class="fa-solid fa-laptop-code text-info me-2"></i>VS Code</h6>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar bg-primary" style="width: 90%;"></div>
          </div>
        </div>

        <div class="text-start mb-3">
          <h6><i class="fa-solid fa-cubes text-success me-2"></i>Figma</h6>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar bg-primary" style="width: 75%;"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
