.inline-flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.w-20 {
  width: 50px;
}

.h-20 {
  height: 50px;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-2xl {
  font-size: 1.5rem;
}

.font-bold {
  font-weight: bold;
}

.text-primary {
  color: #0d4bdc;
}

.text-sidebar {
  color: #05131d;
}
    